html
  head
    title Todolists
  body
    h1 User
    ul
      each val in user
        li= 'User: ' + val.username
        li= 'First name: ' + val.firstname
        li= 'Last name: ' + val.lastname
        li= 'Created: ' + val.created_at
        li= 'Updated: ' + val.updated_at
        br
      else
        h1 User not found!
